* {
    margin: 0;
    padding: 0;
    background-color:  #1da1f2;;
    color: white;
}

.appTitle{
    font-size: 2rem;
    text-align: center;
}

.quote-box, .clickables {
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:3rem;
}

#text {
    font-size:1.5rem;
}

#author {
    font-size:1.1rem;
    font-style: italic;
}
#box{
    padding-top: 1.4rem;    
}

#tweet-quote{
    margin-left:1.4rem;
}

#new-quote {
    background-color: teal;
    width: 7rem;
    height: 2rem;
    border-radius: 0.6rem;
}

.twitterLogo{
    width:2.3rem;
    height:2.3rem;
    margin-top:0.2rem; 
}